:root {
  --smoke: #f2f2f2;
  --dark: #1e2937;
  --blue: #2563eb;
  --error: #ff6a71;
  --submit--hoever: #1945a4;
  --dark__box: #111827;
}

body {
  margin: 0;
}

section {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  border-bottom: 1px solid var(--smoke);
  min-height: 40px;
  padding: 10px 40px;
  align-items: center;
}

header .header__logo {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

header a {
  margin: 0px 10px;
  text-decoration: none;
  color: gray;
}

header a:focus,
header a:hover {
  color: black;
}

/* footer */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:focus,
footer a:hover {
  color: black;
}

.footer__theme-btn {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.post__navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 20px 0px 20px;
}

.post__navigation--active {
  color: black;
  font-weight: 600;
}

.post__list,
.post__detail {
  padding: 20px;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--smoke);
}

.post__profile-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post__profile {
  width: 36px;
  height: 36px;
  background: var(--smoke);
  border-radius: 50%;
}

.post__date,
.post__author-name {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

.post__text {
  color: gray;
  font-size: 16px;
}

.post__list a {
  text-decoration: none;
  color: black;
}

.post__utils-box {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}

.post__detail .post_title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding: 10px 0px;
  border-top: 1px solid var(--smoke);
  border-bottom: 1px solid var(--smoke);
  flex-direction: row;
}

.post__detail .post__profile-box {
  padding: 10px 0px;
}

.post__detail .post__text {
  padding: 20px 0px;
}

.post__delete:hover,
.post__delete:focus,
.post__edit:hover,
.post__edit:focus,
.post__edit a:hover,
.post__edit a:focus {
  color: black;
}

.post__delete {
  cursor: pointer;
}

.post__edit a {
  text-decoration: none;
  color: gray;
}

.post__no-post {
  padding: 24px;
  text-align: center;
  color: gray;
  border: 1px solid var(--smoke);
  border-radius: 20px;
}

.post__text--pre-wrap {
  white-space: pre-wrap;
}

/* profile */

.profile__box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
}

.flex__box-lg {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile__image {
  width: 72px;
  height: 72px;
  background-color: var(--smoke);
  border-radius: 50%;
}

.profile__name {
  font-size: 16px;
  padding-top: 4px;
}

.profile__email {
  font-weight: 500;
}

.profile__logout {
  color: gray;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.profile__logout:hover,
.profile__logout:focus {
  color: black;
}
/* carousel */

.carousel {
  margin: 0 auto;
  max-width: 980px;
  margin-top: 36px;
}

ul.carousel__slides {
  display: block;
  position: relative;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.carousel__slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.carousel__slides input {
  display: none;
}

.carousel__slide-container {
  display: block;
}

.carousel__slide-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.carousel__slide-img img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel__controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 400px;
  color: #fff;
}

.carousel__controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.carousel__slide-img:hover + .carousel__controls label {
  opacity: 0.5;
}

.carousel__controls label:hover {
  opacity: 1;
}

.carousel__controls .carousel__slide-prev {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel__controls .carousel__slide-next {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel__dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel__dots .carousel__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .carousel__slide-container .carousel__slide-img {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .carousel__slide-container .carousel__controls label {
  display: block;
}

.carousel__dot.active {
  opacity: 1;
}

input:checked + .carousel__slide-container .nav label {
  display: block;
}

/* form */

.form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
}

.form input {
  height: 20px;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
  max-width: 680px;
}

.form textarea {
  min-height: 400px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
  max-width: 680px;
}

.form .form__block {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}

.form label {
  display: block;
  font-weight: 500;
  padding: 10px;
}

.form .form__button--submit {
  width: 100%;
  height: 48px;
  font-weight: 600;
  padding: 10px 10px;
  float: right;
  cursor: pointer;
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--blue);
  color: white;
}

.form .form__button--submit:hover,
.form .form__button--submit:focus {
  background-color: var(--submit--hoever);
}

/* login form */
.form--lg {
}

.form__title {
  text-align: center;
  padding-bottom: 4px;
}

.form__link {
  margin-left: 10px;
  text-decoration: none;
  color: gray;
}

.form__link:hover,
.form__link:focus {
  color: black;
}

.form__error {
  color: red;
}

.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid var(--blue);
  border-radius: 50%;
  z-index: 9999;
}

/* dark mode */

.light {
  transition: all 0.25s linear;
  background-color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 61.5px 1fr 80px;
}

.dark {
  transition: all 0.25s linear;
  background-color: var(--dark);
  min-height: 100vh;
  display: grid;
  grid-template-rows: 61.5px 1fr 80px;
}

.dark a,
.dark .form label,
.dark .post__delete,
.dark .profile__logout,
.dark .form__title,
.dark .post__navigation--active,
.dark .post__title,
.dark .post__author-name,
.dark .footer__theme-btn,
.dark .profile__name,
.dark .comments__list {
  color: white;
}

.dark a:hover,
.dark a:focus,
.dark .post__text,
.dark .post__text--pre-wrap,
.dark .profile__email,
.dark .post__date,
.dark .form__block,
.dark .comment__date,
.dark .comment__delete {
  color: lightgray;
}

.dark .comment__delete:hover,
.dark .comment__delete:focus {
  color: white;
}

.dark .form__error {
  color: var(--error);
}

.content {
  height: 100%;
}

.dark footer,
.dark header {
  background-color: var(--dark__box);
}

/* comments */

.comments {
  width: 100%;
}

.comments__form label {
  font-weight: 600;
  display: block;
  padding-bottom: 10px;
  padding-top: 20px;
}

.comments__form textarea {
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  display: block;
  width: 100%;
  max-width: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.comments__form .form__block {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.comments__form .form__btn-submit {
  width: 100px;
  height: 36px;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
}

.form__block-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.comments__form .form__btn-submit:hover,
.comments__form .form__btn-submit:focus {
  background-color: var(--submit--hoever);
}

.comments__list {
  margin-top: 40px;
}

.comment__box {
  padding: 12px 0px;
  border-bottom: 1px solid var(--smoke);
}

.comment__profile-box {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}

.comment__email {
  font-weight: 500;
}

.comment__date {
  color: gray;
}

.comment__delete {
  color: gray;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}

.comment__delete:hover,
.comment__delete:focus {
  color: black;
}

.comment__text {
  font-size: 14px;
  padding-top: 4px;
}
